<%= form_with(model: book, id: "book-form" ) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control required" %>
  </div>

  <div class="field" data-controller="books">
    <%= form.label :total_pages %>
    <%= form.select :total_pages, options_for_select(1..1000, selected: form.object.total_pages), {include_blank: true}, class: "form-control required select2" %>
  </div>

  <div class="field" data-controller="books">
    <%= form.label :book_size_type %>
    <%= form.select :size_type, options_for_select(Book.size_types.keys, selected: form.object.size_type), {include_blank: true}, class: "form-control required chosen-select" %>
  </div>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.number_field :isbn, class: "form-control required" %>
  </div>

  <div data-controller="books">
    <template data-target="books.template">
      <%= form.fields_for :comments, Comment.new, child_index: "NEW_RECORD" do |comment|%>
        <%= render "comment_fields", form: comment %>
      <% end %>
    </template>

    <%= form.fields_for :comments do |comment|%>
      <%= render "comment_fields", form: comment %>
    <% end %>

    <div class="mb-3" data-target="books.links">
      <%= link_to "Add Comment", "#", class: "btn btn-outline-primary", data: {action: "click->books#add_comment_association"} %>
    </div>
  </div>

  <div class="actions" data-controller="books">
    <%= form.submit class: "btn btn-primary", data: {action: "click->books#form_validation"}%>
  </div>
<% end %>
